
.like-animation {
    position: absolute;
    z-index: 10;
    color: white;
    animation: like-heart-animation 0.6s ease-in-out;
    pointer-events: none;
}

@keyframes like-heart-animation {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    15% {
        opacity: 0.9;
        transform: scale(1.2);
    }
    30% {
        transform: scale(0.95);
    }
    45%, 80% {
        opacity: 0.9;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}
